.first-screen {
  padding-top: 121px;
  &__img {
    height: 530px;
    @media screen and (max-width: 1200px) {
      height: 430px;
    }
    @media screen and (max-width: 992px) {
      height: 350px;
    }
    @media screen and (max-width: 768px) {
      height: 500px;
    }
    @media screen and (max-width: 576px) {
      height: auto;
      width: 100%;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    @media screen and (max-width: 992px) {
      max-width: 270px;
    }
    @media screen and (max-width: 768px) {
      max-width: none;
    }
  }
  &__title-text {
    font-weight: 600;
    font-size: 54px;
    color: $color-white;
    padding: 0 8px;
    background-color: $color-brand;
    user-select: none;
    margin-bottom: 7px;
    line-height: 54px;
    transform: translateX(-8px);
    @media screen and (max-width: 992px) {
      font-size: 42px;
      line-height: 42px;
    }
  }
  &__extra-title {
    font-weight: 400;
    font-size: 42px;
    line-height: 100%;
    margin-bottom: 24px;
    @media screen and (max-width: 992px) {
      font-size: 36px;
    }
  }
  &__description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 32px 0;
  }
  &__mobile-gallery-wrap {
    margin-top: 40px;
    display: none;
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  &__gallery {
    max-height: 530px;
    padding-right: 170px;
    @media screen and (max-width: 1200px) {
      padding-right: 80px;
      max-height: 430px;
    }
    @media screen and (max-width: 992px) {
      max-height: 350px;
      padding-right: 20px;
    }
    @media screen and (max-width: 768px) {
      max-height: 500px;
      margin-top: 40px;
    }
    @media screen and (max-width: 576px) {
      display: none !important;
    }
  }
}

