.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: $color-white;
}

.footer {
  background-color: #F6F6F6;
}

.header,
.footer {
  border-bottom: 1px solid $color-divider;
  &__content {
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__num {
    font-weight: 500;
    font-size: $fs-12;
    color: $color-black;
    text-decoration: none;
    margin-right: 32px;
  }
  &__contacts {
    display: flex;
    align-items: center;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  height: 100%;
  &__item {
    height: 100%;
  }
  &__link {
    padding: 0 32px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: $fs-14;
    text-decoration: none;
    color: $color-black;
  }
}
