@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@import "variables";
@import "global";
@import "header";
@import "buttons";
@import "first-screen";
@import "about";
@import "products";
@import "creator";
@import "order";
@import "contact";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

button, textarea, input {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    max-width: 960px;
  }
  @media screen and (max-width: 992px) {
    max-width: 720px;
  }
  @media screen and (max-width: 768px) {
    max-width: 540px;
  }
  @media screen and (max-width: 576px) {
    max-width: 100%;
    padding: 0 16px;
  }
}